/config/StardewValley
/config/coc
/config/configstore/
/config/direnv/allow
/config/gh/hosts.yml
/config/karabiner/automatic_backups/*
/config/mz
/config/nvim/bundle/neobundle.vim
/config/op
/config/qcad
/config/yarn/
