/config/configstore/update-notifier-npm.json
/config/configstore/update-notifier-gatsby-cli.json
/config/configstore/update-notifier-nodemon.json
/config/configstore/update-notifier-mrm.json
config/karabiner/automatic_backups/*
/config/direnv/allow
